{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}База груп студентів{% endblock title %}

{% block content %}

<a href="{% url "groups_add" %}" class="btn btn-primary">Додати групу</a>

<!-- Start Students Listing -->
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-1"><a href="#">#</a></th>
      <th class="col-xs-3"><a href="#">Назва &uarr;</a></th>
      <th class="col-xs-5"><a href="#" align="center">Староста</a></th>
      <th>Дії</th>
    </tr>
  </thead>
  <tbody>
   {% for group in groups %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url "groups_edit" group.id %}">
               {{ group.name }}</td>
      <td><a href="{% url "groups_edit" group.id %}">
               {{ group.leader }}</td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown">Дія
            <span class="caret"></span>
          </button>
         <ul class="dropdown-menu" role="menu">
           <li><a href="{% url "groups_edit" group.id %}">
                         Редагувати</a></li>
           <li><a href="/journal/{{ group.id }}">
                         Відвідування</a></li>
           <li><a href="{% url "groups_delete" group.id %}">
          </ul>
        </div>
      </td>
    </tr>
   {% endfor %}
 </tbody>
</table>
<!-- End Students Listing -->

{% include "students/pagination.html" %}

{% endblock content %}

{% block footer %}
  &copy; 2014 Сервіс Обліку Студентів
{% endblock footer %}
