{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}
  Видалити Груп
{% endblock meta_title %}

{% block title %}
  Видалити Груп
{% endblock title %}

{% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
    Будь-ласка, виправте наступні помилки
  </div>
  {% endif %}
{% endblock status_message %}

{% block content %}

<form action="{% url "groups_delete" object.id %}" method="post">
  {% csrf_token %}
  <p>Ви дійсно хочете видалити групу "{{ object }}"?</p>
  <input type="submit" value="Так" name="delete_button"
          class="btn btn-danger" /><br /><br />
</form>

{% endblock content %}
